html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 8%);
  height: 100%;
}

.card {
  background-color: hsl(0, 0%, 12%);
  padding: 35px;
  border-radius: 12px;
}

img {
  margin: auto;
  display: block;
  border-radius: 50%;
  width: 65px;
  height: 65px;
}

h1 {
  font-family: Inter, sans-serif;
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-size: 28px;
}

h2 {
  font-family: Inter, sans-serif;
  text-align: center;
  color: hsl(75, 94%, 57%);
  font-size: 14px;
}
