html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4b5936;
  height: 100%;
}

.card {
  background-color: #a3a656;
  padding: 35px;
  padding-bottom: 12px;
  border-radius: 12px;
  min-height: 450px;
  min-width: 300px;
}

img {
  margin: auto;
  display: block;
  border-radius: 50%;
  width: 65px;
  height: 65px;
}

h1 {
  font-family: Inter, sans-serif;
  text-align: center;
  color: #4b5936;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 0;
}

h2 {
  font-family: Inter, sans-serif;
  text-align: center;
  color: #733c1d;
  font-weight: 700;
  font-size: 14px;
  margin-top: 8px;
}

p {
  font-family: Inter, sans-serif;
  text-align: center;
  color: #4b5936;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 30px;
}

.socials {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  justify-content: space-evenly;
  min-height: 200px;
}

a {
  text-align: center;
  text-decoration: none;
  color: #4b5936;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 600;
  background-color: #d9ab82;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 8px;
}

a:focus,
a:hover {
  outline: none;
  background-color: #733c1d;
  color: #f2d7b6;
  cursor: pointer;
}

@media (max-width: 400px) {
  .card {
    width: 270px;
    padding-left: 18px;
    padding-right: 18px;
  }
}
